* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%; /* Ensure that the body takes up the full height */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(1vw + 1vh);
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2ebddd;
  height: 10vh;
  padding: 0 20px;
  color: white;
}

h1 {
  padding-left: 42vw;
}

.menu-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

main {
  display: flex;
  flex-grow: 1; /* Allow main content to grow and take the available space */
  padding: 20px;
  background-image: url(../images/Animated\ Shape2.svg);
}

article {
  width: 100%;
  border: #2ebddd;
  border-style: dotted;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #333;
  color: white;
  margin-top: auto;

}


/* Styling for user information */
section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

section p {
  font-size: 1em;
  margin: 5px 0;
}

section p strong {
  font-weight: bold;
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f4f4f4;
  text-align: left;
}

table tbody td {
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* Add this to your mystyle.css or another appropriate stylesheet */
.user-info {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-info p {
  margin: 10px 0;
  font-size: 16px;
}
