.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 20px;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 12px;
  display: block;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #2ebddd;
  color: white;
}

#logout-button {
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  color: #333; /* Text color to match navbar links */
  font-weight: 500; /* Match font weight */
  padding: 8px 12px; /* Padding to match links */
  cursor: pointer; /* Change cursor to pointer */
  text-align: left; /* Align text to the left */
  display: block; /* Make it behave like a block-level element */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

#logout-button:hover {
  background-color: #2ebddd; /* Background color on hover */
  color: white; /* Text color on hover */
}

#logout-button:focus {
  outline: none; /* Remove focus outline */
}

.user-info {
  padding: 10px;
  color: #333;
  font-weight: bold;
}
