body {
    background: #111;
    color: #333;
}

h1 {
    color: #63e6bfc0;
}

body::after {
    background: rgba(0, 0, 0, 0.205);
}

.title {
    color: white;
}

.mainbody {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.project-text a {
    color: white;
}

.link-titel:hover {
    border-bottom: 3px solid black;
}

#Ripplebutton {
    color: #52c5a8c0;
}

#Ripplebutton:hover {
    color: white;
}

.sidebody {
    background: #1d1a1a;
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
}

.contactbody {
    background: #1d1a1a;
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
}

.project-img img {
    border: 4px solid black;
}

.project {
    background-color: rgb(44, 43, 43);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid black;
}

#scrollButton {
    background-color: #12181f;
    color: white;
}

/* Contact form css */
input[type=text],
[type=email],
select,
textarea {
    border: 1px solid #000000;
    background-color: rgb(88, 88, 88);
    color: white;
}

input[type=submit] {
    background-color: #cc4929;
    color: white;
}

input[type=submit]:hover {
    background-color: #d0583d;
}

.container {
    border: none;
    background-color: none;
}

label {
    color: white;
}

.contactTitle {
    color: #63e6bfc0;
}

#navbar {
    background-color: #000000;
}

#navbar ul li a {
    color: #63e6bfc0;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background-color: #00d3e62b;
    color: #ffffff;
}

.abouttitle {
    color: white;
}


#fullscreen-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}



.fullscreen-text {
    color: white;
}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  
  .fancy {
      position: relative;
      white-space: nowrap;
      &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
      }
    }

@media screen and (max-width: 768px) {
    .title {
        color: white;
    }

    .sidebody {
        background: #1d1a1a;
        box-shadow: 0 -2px 20px rgb(0, 0, 0);
    }

    .project-img img {
        border: 4px solid black;
    }

    .project-text {
        background-color: rgb(44, 43, 43);
        border: 4px solid rgba(0, 0, 0, 0);
        color: white;
    }

    .mainbody {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
}