body {
    background: #ffffff;
    color: #676363;
}

.title {
    color: rgb(0, 0, 0);
}

.link-titel {
    border-bottom: 1.5px solid rgb(27, 160, 204);
}

.link-titel:hover {
    border-bottom: 3px solid rgb(27, 160, 204);
}

.mainbody {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    background-image: url("../images/Meteor.svg");
}

h1 {
    color: rgb(29 155 255 / 75%);

}

.sidebody {
    background: #ffffff;
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
}

.contactbody {
    background: #ffffff;
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
}

.project-img img {
    border: 4px solid #ffffff;
}

.project-text {
    background-color: rgba(116, 192, 252, 0.753);
    border: 4px solid rgba(0, 0, 0, 0);
    color: white;
}

#scrollButton {
    background-color: rgb(255, 255, 255);
    color: white;
    border: 3px solid #c2b8b8;
}

input[type=text],
[type=email],
select,
textarea {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    color: white;
}

.project-text a {
    color: white;
}


input[type=submit] {
    background-color: #cc4929;
    color: white;
}

input[type=submit]:hover {
    background-color: #d0583d;
}

.container {
    border-radius: none;
}

label {
    color: black;
}

.contactTitle {
    color: rgba(116, 192, 252, 0.753);
}


#navbar {
    background-color: #ffffff;
}

#navbar ul li a {
    color: rgba(116, 192, 252, 0.753);
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background-color: #00d3e62b;
    color: #1c203d;
}

#fullscreen-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen-text {
    color: white;
}

.abouttitle {
    color: black;
}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image: 
            url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='rgba(29, 155, 255, 0.75)' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='rgba(29, 155, 255, 0.75)'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='rgba(29, 155, 255, 0.75)'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='rgba(29, 155, 255, 0.75)'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.fancy {
    position: relative;
    white-space: nowrap;
    &:after {
        --deco-height: 0.3125em;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc(var(--deco-height) * -0.625);
        height: var(--deco-height);
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='rgba(29, 155, 255, 0.75)' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0em;
    }
}
