* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #676363;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.205);
    pointer-events: none;
}

.logo {
    display: flex;
    width: 135px;
    justify-content: space-between;
}

.title {
    color: rgb(0, 0, 0);
    font-size: calc(2vw + 2vh);
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mainbody {
    height: 90vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: calc(1vw + 1vh);
    z-index: 2;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;   
}

a {
    font-size: calc(0.75vw + 0.75vh);
}

.sidebody {
    background: #968888;
    height: 100vh;
    max-height: 100vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Center the grid horizontally */
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
}

.contactbody {
    background: #968888;
    box-shadow: 0 -2px 20px rgb(0, 0, 0);
    height: 100vh;
    max-height: 100vh;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 1;
    /* Three columns with equal width */
}

.project {
    text-align: center;
    height: 35vw;
    margin: 20px;
    max-height: 20vh;
}

.project>h2,
.project>p {
    font-size: calc(1vw + 1vh);
}

.project-img img {
    max-width: 100%;
    border: 4px solid #ffffff;
    height: calc(10vw + 10vh);
    border-radius: 2px;
    object-fit: cover;
    min-width: 100%;
}

.project-text {
    background-color: rgb(155 136 120);
    width: 100%;
    margin-top: -20px;
    padding-top: 5px;
    height: 100%;
    border: 4px solid rgba(0, 0, 0, 0);
    color: white;
    z-index: 3;
    border-radius: 3px;
}

#scrollButton {
    position: fixed;
    bottom: -50px; /* Initially position the button outside of the viewport at the bottom */
    right: 20px; /* Position the button on the right side of the viewport */
    background-color: rgb(255, 255, 255); /* Background color */
    color: white;
    border: 3px solid #c2b8b8;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: bottom 0.5s ease; /* Add transition for smooth sliding animation */
}

#scrollButton.show {
    bottom: 20px; /* Position the button above the bottom edge of the viewport */
}

/* Contact form css */
input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgb(88, 88, 88);
    color: white;
}

input[type=submit] {
    background-color: #cc4929;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d0583d;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f298;
    padding: 20px;
    margin: 10vw;
}

label {
    color: white;
}

.contactTitle {
    color: #63e6bfc0;
    font-size: calc(2vw + 2vh);
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-bottom: -12px;
    padding-top: 50px;
}
.target-Contact {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.aboutbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 140vh;
    height: 100vh;
    justify-content: center;
}

#navbar {
    background-color: #968888;
    /* Dark blue background */

    top: 0;
    z-index: 1000;
    /* Ensure navbar is above other content */
}

#navbar .nav-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* Distribute space between links and potentially a brand logo */
    align-items: center;
    padding: 0 20px;
    height: 75px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    margin: 0;
}

#navbar ul li a {
    display: block;
    color: #63e6bfc0;
    /* White text color */
    text-align: center;
    padding: 20px 15px;
    /* Larger padding for a taller navbar and larger clickable area */
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background-color: #00d3e62b;
    /* Lighter blue on hover/focus for contrast */
    color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    /* No underline on hover/focus */
}

.arrow {
    width: 6vw;

}

#fullscreen-overlay {
    display: none;
    /* Change to display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#fullscreen-image {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

.fullscreen-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.arrowRight {
    z-index: 10;
}

@media screen and (max-width: 768px) {
    #navbar .nav-wrapper {
        flex-direction: column;
        height: 100%;
    }

    #navbar ul {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    #navbar ul li a {
        padding: 10px;
        /* Adjust padding for smaller screens */
        text-align: center;
        /* Center align the text */
    }

    .title {
        color: white;
        display: flex;
        justify-content: center;
        font-size: calc(1.9vw + 1.9vh);
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    a {
        font-size: calc(1vw + 1vh);
    }

    .sidebody {
        background: #968888;
        height: 265vh;
        min-height: 200vh;
        max-height: none;
        padding-top: 30px;
        box-shadow: 0 -2px 20px rgb(0, 0, 0);
    }


    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        z-index: 1;
    }

    .project {
        text-align: center;
        height: 35vw;
        margin: 10vw;
        margin-bottom: 60vw;
        max-height: none;
    }

    .project>h2,
    .project>p {
        font-size: calc(1vw + 1vh);
    }

    .project-img img {
        max-width: 100%;
        border: 4px solid #ffffff;
        border-radius: 2px;
        height: 100%;
        min-width: 100%;
    }

    .project-text {
        background-color: rgb(155 136 120);
        width: 100%;
        margin-top: -20px;
        padding-bottom: 10vw;
        height: 100%;
        border: 4px solid rgba(0, 0, 0, 0);
        color: white;
        z-index: 3;
        border-radius: 3px;
    }

    .mainbody {
        height: 80vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 100px;
    }

    .arrow {
        width: 13vw;

    }
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')