* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    background: #ffffff;
}

.mainbody {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background: url(tempmain.webp) no-repeat center;
    align-items: center;
}

.head {
    padding: 5vw;
}

/* navbar */
#navbar {
    top: 0;
    z-index: 1000;
    position: relative;
    border-radius: 10px 10px 0px 0;
    color: purple;
    background-color: rgb(31, 131, 131);
}

#navbar .nav-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 75px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    margin: 0;
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: white;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    text-decoration: none;
    border-radius: 2px;
}

